#register
{
margin-left:35%;
color-profile:auto;
color:#008000;
text-align:center;
 }
 h2
 {
 text-emphasis:circle; 
 text-decoration:underline;
text-transform:capitalize;
font-size:20;
font-style:italic;
color:#800040;
font-family:fantasy;

}