#register
{
margin-left:35%;

text-align:center;
 }
 h2
 {
 text-emphasis:circle; 
 text-decoration:underline;
text-transform:capitalize;
font-size:20;
font-style:italic;
font-family:fantasy;
font-color:blue;
}